logs/*
data/*
*.pyc
.DS_Store
videos.txt
torrents.txt
qbittorrent/appdata/.ash_history
qbittorrent/appdata/qBittorrent/categories.json
qbittorrent/appdata/qBittorrent/lockfile
qbittorrent/appdata/qBittorrent/qBittorrent-data.conf
qbittorrent/appdata/qBittorrent/qBittorrent.conf
qbittorrent/appdata/qBittorrent/watched_folders.json
qbittorrent/appdata/qBittorrent/BT_backup/0080a6732a0b07dbeff44aae0d0a13486c5dbe3b.fastresume
qbittorrent/appdata/qBittorrent/BT_backup/b3266d45b364b7085acab766d448d292c0cb555f.fastresume
qbittorrent/appdata/qBittorrent/BT_backup/queue
qbittorrent/appdata/qBittorrent/GeoDB/dbip-country-lite.mmdb
qbittorrent/appdata/qBittorrent/logs/qbittorrent.log
qbittorrent/appdata/qBittorrent/rss/feeds.json
qbittorrent/appdata/qBittorrent/rss/storage.lock
qbittorrent/appdata/qBittorrent/rss/articles/storage.lock
